<div class="side_bar">
  <ul class="side-bar-list">
      <li class="side-bar-item">
          <a href="https://www.linkedin.com/in/jamesjkjk/" target="_blank" class="linkedin-item">
              <span class="side-bar-label">Linkedin</span>
              <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
      </li>
      <li class="side-bar-item">
          <a href="https://github.com/jamesjkjk" target="_blank" class="github-item">
              <span class="side-bar-label">Github</span>
              <fa-icon [icon]="faGithub"></fa-icon>
          </a>
      </li>
      <li class="side-bar-item">
          <a href="assets\pics\Resume_James_Kim.pdf" target="_blank" class="resume-item">
              <span class="side-bar-label">Resume</span>
              <fa-icon [icon]="faUserCircle"></fa-icon>
          </a>
      </li>  
  </ul>
</div>